---
import Navigation from "../components/markup/TopNav.astro"
import Footer from "../components/Footer.astro";
import Hero from "../components/content/Hero.astro";
import Services from "../components/Services.astro";
import Testimonial from "../components/Testimonial.astro";
import TopNav from "../components/markup/TopNav.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Whitfield Hardware</title>
</head>
<body class="content-center mx-[10rem]">
<TopNav />
<!--<Hero />-->
<!--<Services/>-->
<!--<Testimonial />-->
<!--<Navigation/>-->
<!--<Footer/>-->
</body>
</html>

<style>
    body {
        background-color: #F18333;
        color: white;
    }
</style>