---
import TopNav from "../components/new/TopNav.astro"
import Hero from "../components/new/Hero.astro"
import config from "../config/business"
import "../styles/green/dorik-green.css"
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{config.businessName}</title>
</head>
<body>
<TopNav />
<Hero />
</body>
</html>

