---
import Hero from "../components/Hero.astro"
import config from "../config/business"
import "../styles/green/dorik-green.css"
import Overview from "../components/Overview.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{config.businessName}</title>
</head>
<body>
<Hero businessName = {config.businessName} />
<Overview businessName = {config.businessName} />
</body>
</html>

