---
const props = Astro.props
---

<section class="dorik-section dorik-section-yojdxzsp ">
    <div class="dorik-container-cnzab1jm  ">
        <div class="dorik-container-oza5xgfe  ">
            <div class="dorik-wrapper dorik-heading-uqg862ya-wrapper ">
                <h2 class="dorik-heading dorik-heading-uqg862ya ">
                    <span>Contact {props.businessName}</span>
                </h2>
            </div>
            <div class="dorik-text dorik-text-qfemnsek ">
                Need to get in touch with our friendly staff at {props.businessName}?
                Fill out the contact form below and we'll get back to you as soon as
                possible.
            </div>
        </div>
    </div>
    <div class="dorik-container-lvekd8j3  ">
        <div class="dorik-container-25w5hty8  ">
            <form id="ug63ymwl" class="dorik-contactForm-ug63ymwl ">
                <input type="hidden" name="_t" value=""><input type="hidden" name="_sub">
                <div class="fields-wrapper">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" required="" class="form-control"
                               placeholder="Your e-mail address">
                    </div>
                    <div class="form-group">
                        <input type="number" name="phone" class="form-control" placeholder="Your phone no">
                    </div>
                    <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Email Subject">
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="4"
                                  placeholder="Write your message..."></textarea>
                    </div>
                    <div style="left:-100vw;position:absolute">
                        <label for="confirm_ug63ymwl"><input type="text" autocomplete="off" id="confirm_ug63ymwl"
                                                             name="confirm_ug63ymwl"
                                                             placeholder="Enter your confirm_ug63ymwl"></label>
                    </div>
                    <div class="form-group form-button">
                        <button type="submit">
                            Submit Your Message
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner"
                                 class="svg-inline--fa fa-spinner fa-spin fa-fw spinner" role="img"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                 style="display:none;margin-left:5px">
                                <path fill="currentColor"
                                      d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <input type="hidden" value="crodw5" name="_uid"></form>
        </div>
        <div class="dorik-container-pg0ifw2t  ">
            <div class="dorik-iframe dorik-iframe-mlq6t3vv " style="pointer-events:auto">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.274294972311!2d91.88538947532946!3d24.888623744130083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3751ab35b374c621%3A0xe6932514fcdd86a4!2sUK%20Basis!5e0!3m2!1sen!2sbd!4v1702903472232!5m2!1sen!2sbd&quot; width=&quot;600&quot; height=&quot;450&quot; style=&quot;border:0;&quot; allowfullscreen=&quot;&quot; loading=&quot;lazy&quot; referrerpolicy=&quot;no-referrer-when-downgrade&quot;></iframe>"
                        title="mlq6t3vv" allowfullscreen="" width="480" height="425" frameborder="0"></iframe>
            </div>
        </div>
        <div class="dorik-container-vllcy7nl  ">
            <div class="dorik-container-v5h5ldj3  ">
                <div class="dorik-icon-5cmne52m-wrapper  ">
              <span class="dorik-icon dorik-icon-5cmne52m  "><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                                  data-icon="bullseye"
                                                                  class="svg-inline--fa fa-bullseye fa-fw icon "
                                                                  role="img" xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 512 512" data-testid="icon-test">
                  <path fill="currentColor"
                        d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                </div>
                <div class="dorik-wrapper dorik-heading-3rslgxrp-wrapper ">
                    <h4 class="dorik-heading dorik-heading-3rslgxrp ">
                        <span>Name</span>
                    </h4>
                </div>
                <div class="dorik-text dorik-text-6citup1x ">Full name</div>
            </div>
            <div class="dorik-container-71vahq4n  ">
                <div class="dorik-icon-r44pm2kb-wrapper  ">
              <span class="dorik-icon dorik-icon-r44pm2kb  "><svg aria-hidden="true" focusable="false" data-prefix="far"
                                                                  data-icon="square"
                                                                  class="svg-inline--fa fa-square fa-fw icon "
                                                                  role="img" xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 448 512" data-testid="icon-test">
                  <path fill="currentColor"
                        d="M384 80c8.8 0 16 7.2 16 16V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V96c0-8.8 7.2-16 16-16H384zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg></span>
                </div>
                <div class="dorik-wrapper dorik-heading-dzegr0mb-wrapper ">
                    <h4 class="dorik-heading dorik-heading-dzegr0mb ">
                        <span>Email</span>
                    </h4>
                </div>
                <div class="dorik-text dorik-text-0bl6v6a9 ">Valid email</div>
            </div>
            <div class="dorik-container-lvpht7gq  ">
                <div class="dorik-icon-ybvz0o76-wrapper  ">
              <span class="dorik-icon dorik-icon-ybvz0o76  "><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                                  data-icon="bullseye"
                                                                  class="svg-inline--fa fa-bullseye fa-fw icon "
                                                                  role="img" xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 512 512" data-testid="icon-test">
                  <path fill="currentColor"
                        d="M448 256A192 192 0 1 0 64 256a192 192 0 1 0 384 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 80a80 80 0 1 0 0-160 80 80 0 1 0 0 160zm0-224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zM224 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"></path></svg></span>
                </div>
                <div class="dorik-wrapper dorik-heading-ete2oesz-wrapper ">
                    <h4 class="dorik-heading dorik-heading-ete2oesz ">
                        <span>Message</span>
                    </h4>
                </div>
                <div class="dorik-text dorik-text-qh9ju9t2 ">
                    Your message details
                </div>
            </div>
        </div>
    </div>
</section>