---

---

<section class="dorik-section symbol--footer dorik-section-n8e1hcfn ">
    <div class="dorik-container-5enptwkz  ">
        <div class="dorik-container-zhrrsi8o  ">
            <div class="dorik-container-2zipiy9b  ">
                <div class="dorik-wrapper dorik-heading-tt4lgt8h-wrapper ">
                    <h5 class="dorik-heading dorik-heading-tt4lgt8h ">
                        <span>Company Info</span>
                    </h5>
                </div>
                <ul class="dorik-list dorik-links-o4hjz816 ">
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">About Us</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Our Story</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Locations</span></a>
                    </li>
                </ul>
            </div>
            <div class="dorik-container-yo9pcc4n  ">
                <div class="dorik-wrapper dorik-heading-c0jnvdnl-wrapper ">
                    <h5 class="dorik-heading dorik-heading-c0jnvdnl ">
                        <span>Products</span>
                    </h5>
                </div>
                <ul class="dorik-list dorik-links-tr97kmju ">
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">New Arrivals</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Bestsellers</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Clearance</span></a>
                    </li>
                </ul>
            </div>
            <div class="dorik-container-9zf3x9jt  ">
                <div class="dorik-wrapper dorik-heading-lw4m1gvm-wrapper ">
                    <h5 class="dorik-heading dorik-heading-lw4m1gvm ">
                        <span>Services</span>
                    </h5>
                </div>
                <ul class="dorik-list dorik-links-4mobtzjp ">
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Order Tracking</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Returns</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Contact Us</span></a>
                    </li>
                </ul>
            </div>
            <div class="dorik-container-vfi2tsjl  ">
                <div class="dorik-wrapper dorik-heading-w8jx18d1-wrapper ">
                    <h5 class="dorik-heading dorik-heading-w8jx18d1 ">
                        <span>Resources</span>
                    </h5>
                </div>
                <ul class="dorik-list dorik-links-eozj3lhp ">
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Guides</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">Blog</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"></span><span
                                class="dorik-list--text">FAQs</span></a>
                    </li>
                </ul>
            </div>
            <div class="dorik-container-8ag3lbld  ">
                <div class="dorik-wrapper dorik-heading-4w8i0mc8-wrapper ">
                    <h5 class="dorik-heading dorik-heading-4w8i0mc8 ">
                        <span>Social Media</span>
                    </h5>
                </div>
                <ul class="dorik-list dorik-links-lyyhpz1e ">
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                                  focusable="false"
                                                                                                  data-prefix="fab"
                                                                                                  data-icon="facebook-f"
                                                                                                  class="svg-inline--fa fa-facebook-f fa-fw icon icon_6bb0och6"
                                                                                                  role="img"
                                                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                                                  viewBox="0 0 320 512"
                                                                                                  data-testid="icon-test">
                      <path fill="currentColor"
                            d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path></svg></span><span
                                class="dorik-list--text">Facebook</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                                  focusable="false"
                                                                                                  data-prefix="fab"
                                                                                                  data-icon="square-instagram"
                                                                                                  class="svg-inline--fa fa-square-instagram fa-fw icon icon_krurbnze"
                                                                                                  role="img"
                                                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                                                  viewBox="0 0 448 512"
                                                                                                  data-testid="icon-test">
                      <path fill="currentColor"
                            d="M194.4 211.7a53.3 53.3 0 1 0 59.3 88.7 53.3 53.3 0 1 0 -59.3-88.7zm142.3-68.4c-5.2-5.2-11.5-9.3-18.4-12c-18.1-7.1-57.6-6.8-83.1-6.5c-4.1 0-7.9 .1-11.2 .1c-3.3 0-7.2 0-11.4-.1c-25.5-.3-64.8-.7-82.9 6.5c-6.9 2.7-13.1 6.8-18.4 12s-9.3 11.5-12 18.4c-7.1 18.1-6.7 57.7-6.5 83.2c0 4.1 .1 7.9 .1 11.1s0 7-.1 11.1c-.2 25.5-.6 65.1 6.5 83.2c2.7 6.9 6.8 13.1 12 18.4s11.5 9.3 18.4 12c18.1 7.1 57.6 6.8 83.1 6.5c4.1 0 7.9-.1 11.2-.1c3.3 0 7.2 0 11.4 .1c25.5 .3 64.8 .7 82.9-6.5c6.9-2.7 13.1-6.8 18.4-12s9.3-11.5 12-18.4c7.2-18 6.8-57.4 6.5-83c0-4.2-.1-8.1-.1-11.4s0-7.1 .1-11.4c.3-25.5 .7-64.9-6.5-83l0 0c-2.7-6.9-6.8-13.1-12-18.4zm-67.1 44.5A82 82 0 1 1 178.4 324.2a82 82 0 1 1 91.1-136.4zm29.2-1.3c-3.1-2.1-5.6-5.1-7.1-8.6s-1.8-7.3-1.1-11.1s2.6-7.1 5.2-9.8s6.1-4.5 9.8-5.2s7.6-.4 11.1 1.1s6.5 3.9 8.6 7s3.2 6.8 3.2 10.6c0 2.5-.5 5-1.4 7.3s-2.4 4.4-4.1 6.2s-3.9 3.2-6.2 4.2s-4.8 1.5-7.3 1.5l0 0c-3.8 0-7.5-1.1-10.6-3.2zM448 96c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96zM357 389c-18.7 18.7-41.4 24.6-67 25.9c-26.4 1.5-105.6 1.5-132 0c-25.6-1.3-48.3-7.2-67-25.9s-24.6-41.4-25.8-67c-1.5-26.4-1.5-105.6 0-132c1.3-25.6 7.1-48.3 25.8-67s41.5-24.6 67-25.8c26.4-1.5 105.6-1.5 132 0c25.6 1.3 48.3 7.1 67 25.8s24.6 41.4 25.8 67c1.5 26.3 1.5 105.4 0 131.9c-1.3 25.6-7.1 48.3-25.8 67z"></path></svg></span><span
                                class="dorik-list--text">Twitter</span></a>
                    </li>
                    <li class="dorik-list--item">
                        <a href="#" class="dorik-list--link "><span class="dorik-list--icon"><svg aria-hidden="true"
                                                                                                  focusable="false"
                                                                                                  data-prefix="fab"
                                                                                                  data-icon="twitter"
                                                                                                  class="svg-inline--fa fa-twitter fa-fw icon icon_hy72bj4u"
                                                                                                  role="img"
                                                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                                                  viewBox="0 0 512 512"
                                                                                                  data-testid="icon-test">
                      <path fill="currentColor"
                            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg></span><span
                                class="dorik-list--text">Instagram</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dorik-container-tltpfjg9  ">
            <div class="dorik-line-252jph7z-wrapper ">
                <hr class="dorik-line-252jph7z ">
            </div>
        </div>
    </div>
    <div class="dorik-container-7yvvizqo  ">
        <div class="dorik-container-bjq2r70s  ">
            <div class="dorik-wrapper dorik-image-s28xn6cp-wrapper ">
                <img src="https://cdn.dorik.com/65b88af20c950f0011698fc8/images/white-logo-tuvDW.png" alt=""
                     loading="lazy" class="dorik-image-s28xn6cp ">
            </div>
        </div>
        <div class="dorik-container-k77wtggq  ">
            <div class="dorik-text dorik-text-dwf9bf8j ">
                Copyright Whitfield Hardware Store 2024. All Rights Reserved.
            </div>
        </div>
    </div>
</section>