---
const props = Astro.props
---

<section class="dorik-section dorik-section-dd2zbmv0 ">
    <div class="dorik-container-u44tv6hz  ">
        <div class="dorik-container-q031c8mg  ">
            <div class="dorik-text dorik-text-4wlz0kjf ">Well renowned</div>
            <div class="dorik-wrapper dorik-heading-ec6yxnjs-wrapper ">
                <h2 class="dorik-heading dorik-heading-ec6yxnjs ">
                    <span>{props.businessName} overview</span>
                </h2>
            </div>
        </div>
        <div class="dorik-container-k2shvrwl  ">
            <div class="dorik-text dorik-text-llizmg5f ">
                {props.businessName} was founded in <b>1965</b> in the town of
                Greenwood. With over <i>50 years</i> of experience, we are the most
                trusted hardware store in the area, having won local business awards
                in <b>2005</b>, <b>2012</b>, and <b>2021</b>.
            </div>
            <div class="dorik-button-i2jhmsx5-wrapper  ">
                <button class="dorik-btn dorik-button-i2jhmsx5  ">
                    Learn more
                </button>
            </div>
        </div>
    </div>
    <div class="dorik-container-we096nwb  ">
        <div class="dorik-container-amp4l2jr  ">
            <div class="dorik-wrapper dorik-heading-cwwx86rq-wrapper ">
                <h3 class="dorik-heading dorik-heading-cwwx86rq ">
                    <span>1965</span>
                </h3>
            </div>
            <div class="dorik-wrapper dorik-heading-v36q3vfm-wrapper ">
                <h5 class="dorik-heading dorik-heading-v36q3vfm ">
                    <span>Year founded</span>
                </h5>
            </div>
        </div>
        <div class="dorik-container-avgj5zal  ">
            <div class="dorik-wrapper dorik-heading-ipwkhd2s-wrapper ">
                <h3 class="dorik-heading dorik-heading-ipwkhd2s ">
                    <span>5000</span>
                </h3>
            </div>
            <div class="dorik-wrapper dorik-heading-uf8zkiv0-wrapper ">
                <h5 class="dorik-heading dorik-heading-uf8zkiv0 ">
                    <span>Products in stock</span>
                </h5>
            </div>
        </div>
        <div class="dorik-container-qpdunpy3  ">
            <div class="dorik-wrapper dorik-heading-wgomefx5-wrapper ">
                <h3 class="dorik-heading dorik-heading-wgomefx5 ">
                    <span>15</span>
                </h3>
            </div>
            <div class="dorik-wrapper dorik-heading-7ulaygyy-wrapper ">
                <h5 class="dorik-heading dorik-heading-7ulaygyy ">
                    <span>Staff members</span>
                </h5>
            </div>
        </div>
        <div class="dorik-container-e7eg9qt2  ">
            <div class="dorik-wrapper dorik-heading-g6545prh-wrapper ">
                <h3 class="dorik-heading dorik-heading-g6545prh ">
                    <span>3 </span>
                </h3>
            </div>
            <div class="dorik-wrapper dorik-heading-f3yutx4b-wrapper ">
                <h5 class="dorik-heading dorik-heading-f3yutx4b ">
                    <span>Business awards</span>
                </h5>
            </div>
        </div>
    </div>
</section>