---
const {text} = Astro.props
---

<ul class="dorik-nav--btns normalize">
    <li>
        <a href="/shop"
           class="dorik-nav--btn dorik-nav--btn shop-now "><span
                class="dorik-nav--btn-icon"></span><span
                class="dorik-nav--btn-text">{text}</span></a>
    </li>
</ul>