---

---

<div>
    <h2>Trusted Hardware Goods Provider for 30 Years.</h2>
    <p>Whitfield Hardware has provided high-quality tools and hardware supplies to our community for over three decades.
        Learn why customers recommend us.</p>
</div>
<div class="flex-container">
    <div class="flex-item testimonial">
        <img src="/images/testimonial.png" alt="shelves in hardware store" width="555px" height="460px"></img>
    </div>
    <div class="flex-item testimonial">
        <p>I've been shopping at ACME Hardware for 15 years. Their staff is very knowledgeable about all the
            products, and they always take the time to answer my questions thoroughly. The selection is
            expansive—they have everything I need for my home improvement projects at fair prices.</p>
        <h3>Mary Smith</h3>
        <h5>Homeowner</h5>
    </div>
</div>

<style>
    div {
        color: black;
        background-color: white;
    }

    .flex-container.testimonial {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .flex-item.testimonial {
        flex: 1 1 45%;
    }
</style>
