---
import Logo from "../markup/Logo.astro";
import ShopNowButton from "../ui/ShopNowButton.astro";
---

<div class="flex flex-row max-w-full">
    <Logo />
    <div>
        <ul class="flex-1 flex flex-row gap-5 mx-[20rem]">
            <li><a href="/">Home</a></li>
            <li><a href="/shop/">Shop</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </div>
    <ShopNowButton />
</div>


<style>
    div {
        background-color: #F18333;
        color: white;
    }
</style>