<div class="">
    <div class="container dorik-row-mr7nhv5o-wrapper    ">
        <div class="dorik-row-mr7nhv5o  flex  ">
            <div class="col-lg-5/8 col-md-7/8 ">
                <div class="column-inner dorik-column-4qhxr8sa  5/8">
                    <div class="dorik-wrapper dorik-heading-s6yhg5yo-wrapper ">
                        <h1 class="dorik-heading dorik-heading-s6yhg5yo ">
                    <span>Find quality hardware for every project at Whitfield
                      Hardware store</span>
                        </h1>
                    </div>
                    <div class="dorik-text dorik-text-04p01ldg ">
                        With a wide selection of tools, lumber, fasteners, plumbing
                        supplies, electrical items and more, Whitfield Hardware has
                        everything you need to get the job done right.
                    </div>
                    <div class="dorik-button-kzyg9z2v-wrapper  ">
                        <button class="dorik-btn dorik-button-kzyg9z2v  ">
                            Shop Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>